




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
pre {
  background-color: #292a2d;
  color: #f7fc00;
  display: inline-block;
  width: auto;
  border-radius: 5px;
  padding: 15px;
}
div.blog {
  /* width: 500px; */
  margin-left: 270px;
}


.avatar {
  margin: 0 auto;
}
div.tagline p {
  font-weight: bold;
}
div.tagline {
  text-align: center;
}

h3.skills {
  margin-left: 25px;
}
